@page "/clubs/{id}"

@if (isLoading)
{
    <div class="spinner"></div>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h3></h3>
            </div>
            <div class="col-2">
                @if (!isEditing)
                {
                    <button class="btn btn-info" @onclick="ToogleFavorite">Favorite</button>
                    <button class="btn btn-dark" @onclick="ToggleIsEditing">Edit</button>
                    <button class="btn btn-danger" @onclick="DeleteClicked">Delete</button>
                }
                else
                {
                    <button class="btn btn-dark" @onclick="ToggleIsEditing">Cancel</button>
                    <button class="btn btn-success" @onclick="SaveClicked">Save</button>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 justify-content-center">
                <img class="bg-transparent img-thumbnail" src="@(image.ImageUrl)" alt="@(image.Description)" style="height:100%;" />
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="font-weight-bold">@club.Name</h3>
                        <h5>@club.Fullname</h5>
                        <h6 class="text-info">@club.Colors</h6>
                        <div class="col-9"><hr /></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h4 class="font-weight-bold">Club Details</h4>
                        <div class="row">
                            <div class="col-6">
                                <h6>Name:</h6>
                                <h6>Fullname:</h6>
                                <h6>Country:</h6>
                                <h6>Founded:</h6>
                                <h6>Members:</h6>
                            </div>
                            <div class="col-6">
                                @if (!isEditing)
                                {
                                    <h6 class="text-info">@club.Name</h6>
                                    <h6 class="text-info">@club.Fullname</h6>
                                    <h6 class="text-info">@club.Country</h6>
                                    <h6 class="text-info">@club.Founded</h6>
                                    <h6 class="text-info">@club.Members</h6>
                                }
                                else
                                {
                                    <input @bind-value="club.Name" />
                                    <input @bind-value="club.Fullname" />
                                    <input @bind-value="club.Country" />
                                    <input @bind-value="club.Founded" />
                                    <input @bind-value="club.Members" />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="font-weight-bold"></h4><br />
                        <div class="row">
                            <div class="col-6">
                                <h6>Total games:*</h6>
                                <h6>Home Page:</h6>
                                <h6>Stadium:</h6>
                                <h6>Address:</h6>
                            </div>
                            <div class="col-6">
                                <h6 class="text-info">0</h6>
                                @if (!isEditing)
                                {
                                    <h6 class="text-info">@club.Homepage</h6>
                                    <h6 class="text-info">@club.Stadium</h6>
                                    <h6 class="text-info">@club.Address</h6>
                                }
                                else
                                {
                                    <input @bind-value="club.Homepage" />
                                    <input @bind-value="club.Stadium" />
                                    <input @bind-value="club.Address" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><div class="col-12"><hr /></div></div>
        <!-- Profile separator from games history -->
        <div class="row">
            <div class="col-12">
                <h3 class="font-weight-bold">Statistics</h3>
            </div>
            <div class="col-12">
                <div class="center">
                    <button class="btn btn-warning m-5" @onclick="LoadStatistics">Load</button>
                </div>
                @if (stats.Count != 0)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Event Name</th>
                                <th>Count</th>
                                <th>Average</th>
                                <th>Standard Deviation</th>
                                <th>Median</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var stat in stats)
                            {
                                <tr>
                                    <td><img src="@GenericUtils.GetImageUrl(stat.EventKey)" alt="@stat.EventName"></td>
                                    <td>@stat.EventName</td>
                                    <td>@stat.Count</td>
                                    <td>@stat.Average</td>
                                    <td>@stat.StandardDeviation</td>
                                    <td>@stat.Median</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }
    private bool isLoading = true;
    private bool isEditing = false;

    private ClubService clubService;
    private FavoritesService favoritesService;
    private Image image = new Image();
    private Club club = new Club();
    List<StatsTable> stats = new List<StatsTable>();

    private void ToggleIsEditing()
    { isEditing = isEditing ? false : true; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Start(Id);
    }

    private async void Start(string clubId)
    {
        clubService = new ClubService(await localStorage.GetItemAsync<string>(ConstValues.TOKEN));
        favoritesService = new FavoritesService(await localStorage.GetItemAsync<string>(ConstValues.TOKEN));

        club = await clubService.GetClubById(int.Parse(clubId));
        image = club.DisplayOptions.ContainsKey("imageUrl") ? new Image { ImageUrl = club.DisplayOptions["imageUrl"] } : new Image { ImageUrl = "/images/club_fill-BLUE.svg" };

        isLoading = false;
        base.StateHasChanged();
    }

    private async Task LoadStatistics()
    {
        var statistics = await clubService.GetClubStatistics(club.Id, null);
        var events = await new RestUtils(await localStorage.GetItemAsync<string>(ConstValues.TOKEN)).GetEvents(null);
        stats = new List<StatsTable>();

        if (statistics.TotalStats != null)
        {
            foreach (Event e in events)
            {
                foreach (TotalStat stat in statistics.TotalStats)
                {
                    if (stat.EventId == e.Id)
                    {
                        stats.Add(new StatsTable(stat, e));
                    }
                }
            }
        }
    }

    private async Task SaveClicked()
    {
        var response = await clubService.UpdateClub(club);

        if (response.IsSuccessStatusCode)
        {
            toastService.ShowToast(ToastLevel.Success, "Club updated");
            isEditing = false;
        }
        else
        {
            toastService.ShowToast(ToastLevel.Error, ConstValues.MSG_GENERIC_ERROR);
        }
    }

    private async Task DeleteClicked()
    {
        var response = await clubService.DeleteClub(club.Id);

        if (response.IsSuccessStatusCode)
        {
            toastService.ShowToast(ToastLevel.Success, "Club deleted");
            Task.Delay(3000).Wait();
            navigationManager.NavigateTo($"/clubs");
        }
        else
        {
            toastService.ShowToast(ToastLevel.Error, ConstValues.MSG_GENERIC_ERROR);
        }
    }

    private async Task ToogleFavorite()
    {
        var response = await favoritesService.ToogleFavorite(new Favorite(int.Parse(Id)));

        if (response.IsSuccessStatusCode)
        {
            toastService.ShowToast(ToastLevel.Success, ConstValues.MSG_GENERIC_UPDATED);
            isEditing = false;
        }
        else
        {
            toastService.ShowToast(ToastLevel.Error, ConstValues.MSG_GENERIC_ERROR);
        }
    }
}
