@page "/events"

<h3>Events</h3>


@if (isLoading)
{
    <div class="spinner"></div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Key</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var evt in events)
            {
                <tr>
                    <td><img src="@Utils.GetImageUrl(evt.Key)" alt="@evt.Name"></td>
                    <td>@evt.Key</td>
                    <td>@evt.Name</td>
                    <td>@evt.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private bool isLoading = false;
    private List<Event> events;
    private EventService eventService;


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Start();
    }

    private async void Start()
    {
        isLoading = true;
        eventService = new EventService(await localStorage.GetItemAsync<string>(Utils.TOKEN));
        events = await eventService.SearchExecuted(null, null);
        events = events.OrderBy(c => c.Id).ToList();
        isLoading = false;
        base.StateHasChanged();
    }
}
