@page "/events"

<h3>Events</h3>

@if (isLoading)
{
	<div class="spinner"></div>
}
else
{
	<div class="overflow-auto">
		<table class="table table-sm table-hover align-middle">
			<thead>
				<tr>
					<th>#</th>
					<th>Key</th>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var evt in events)
				{
					<tr>
						<td><img src="@GenericUtils.GetImageUrl(evt.Key)" alt="@evt.Name" style="height:3rem;"></td>
						<td>@evt.Key</td>
						<td>@evt.Name</td>
						<td>@evt.Description</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}

@code {
	private bool isLoading = true;
	private List<Event> events;
	private EventService eventService;


	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		Start();
	}

	private async void Start()
	{
		eventService = new EventService(await localStorage.GetItemAsync<string>(ConstValues.TOKEN));
		events = await eventService.SearchExecuted(null, null);
		events = events.OrderBy(c => c.Id).ToList();

		isLoading = false;
		base.StateHasChanged();
	}
}
